.cart {
    padding: 1rem;
   
}
center .emptyCartBtn{
    background-color: white;
    color:black;
    font-size:2em;
    font-weight:bold;
    border:none;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}

.cartItems {
   display: flex;
   gap:0.8em;
    margin-bottom: 1rem;
    justify-content: space-between;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
}
.quanity1{
    margin-left:30px;
}

.cartHeading {
    font-weight: 400;
    margin-bottom: 1rem;
    font-size:25px;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    text-align: center;
}
.subtotal{
    margin-left:70%;
    margin-top:100px;
    margin-bottom:80px;
    font-family:   Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    
}


 