.cart {
    padding: 0.1rem;
    /* position: relative; */
}
center .emptyCartBtn{
    background-color: white;
    color:black;
    font-size:2em;
    font-weight:bold;
    border:none;
}

.cartHeading {
    font-weight: 600;
    margin-bottom: 1rem;
    font-size:25px;
}
.cart section{
   
  

    position:fixed;

    bottom:0;
    left: 0;
    width: 100%;
    z-index: 1000;;
    background-color: white;
    padding: 0.5rem;


}
.cart section div{
    margin-left:80%;
    font-size:20px;
    color:grey;
    text-decoration: line-through;
    text-decoration-color: red;

}
.cart section article{
    margin-left:80%;
    font-size:20px;
    color:blue;
    font-weight: 800;
}


