*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif; 
}
button {
  font-family: inherit;
  padding: 0.5rem 1rem;
  cursor: pointer;
  background-color: #fff;
}